<%= form_tag '/index', method: 'get' do %>
  <%= label_tag 'da_box', 'Da Box' %>
  <%= hidden_field_tag 'da_box', 0 %>
  <%= check_box_tag 'da_box', 1, session[:da_box_be_checked] == "1" %>

  <%= submit_tag 'Do It' %>
<% end %>
