<!DOCTYPE html>
<html>
<head>
  <title>SessionTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h1>Session Data</h1>

<%= session %>
</body>
</html>
